@charset "UTF-8";

.example1{
    width: 50%;
    height: 100px;
    padding: 20px;
    background: red;
}
.example1>div{
    height: 100px;
    background: bule;
}    
    
 .example2{
    width: 50%;
    height: 100px;
    padding: 20px;
    background: green;
}
.example2>div{
    height: 100px;
    background: violet;
}    

  .example3{
    width: 50%;
    height: 100px;
    padding: 20px;
    background: lime;
}
.example3>div{
    height: 100px;
    background: pink;
}
